@import "partials/variables";
@import "partials/mixins";

@import "partials/styleoverrides";

$cardSize: 349px;
$gutterWidth: ((1080px - (3 * $cardSize)))/4;

.mdl-card {
	max-width: 300px;
	margin-left: $gutterWidth;
	&:nth-child(n + 4) {
		margin-top: $gutterWidth;
	}
}